<div class="modal-header">
  <span mat-dialog-title> Cambiar Contraseña </span>
  <button
    id="modal-close-button"
    mat-dialog-close
    mat-mini-fab
    type="button"
    aria-label="Cerrar"
    color="basic"
    (click)="clickClosed()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<form mat-dialog-content [formGroup]="form!">
  <mat-form-field>
    <mat-label>Contraseña actual</mat-label>
    <input
      matInput
      matNativeControl="text"
      formControlName="currentPassword"
      #input1
    />

    <button
      mat-icon-button
      matSuffix
      [attr.aria-pressed]="true"
      type="button"
      appTogglePassword
      [iconVisible]="false"
      [inputEl]="input1"
    >
      <mat-icon >{{ 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label >Nueva contraseña </mat-label>
    <input
      matInput
      matNativeControl="text"
      formControlName="newPassword"
      #input2
    />

    <button
      mat-icon-button
      matSuffix
      [attr.aria-pressed]="true"
      type="button"
      appTogglePassword
      [iconVisible]="false"
      [inputEl]="input2"
    >
      <mat-icon >{{ 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label >Confirmar contraseña</mat-label>
    <input
      matInput
      matNativeControl="text"
      formControlName="confirmPassword"
      #input3
    />

    <button
      mat-icon-button
      matSuffix
      [attr.aria-pressed]="true"
      type="button"
      appTogglePassword
      [iconVisible]="false"
      [inputEl]="input3"
    >
      <mat-icon >{{ 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

</form>

<div class="modal-footer" mat-dialog-actions>
  <button
    mat-button
    type="button"
    (click)="clickSave()"
    color="primary"
    [disabled]="submitDisabled || loading"
  >
    Guardar
  </button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    type="button"
    (click)="clickClosed()"
  >
    Cancelar
  </button>
</div>
<app-state *ngIf="loading" class="app-loading"> </app-state>
